<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Initial setting</title>
</head>
<body>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Warning!</strong> {{ message }}
</div>
{% if valid %}
<div class="panel panel-info add-panel">
    <div class="panel-heading">
        <div class="text clearfix" style="text-align:center;">
            <h5 class="panel-title">Initial</h5>
            <button id="submit-btn" type="button"
                    class="btn btn-info btn-sm">Submit</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-lg-8">
            <form id="form" method="post" class="form-horizontal">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-group required">
                    <label for="w_id" class="col-sm-2 control-label">
                        Workplace ID*
                    </label>
                    <div class="col-sm-10" data-name="w_id">
                        <input class="form-control" name="w_id" id="w_id"
                               placeholder="工号!工号!工号!">
                    </div>
                </div>

                <div class="form-group required">
                    <label for="password" class="col-sm-2 control-label">Password*</label>
                    <div class="col-sm-10" data-name="password">
                        <input class="form-control" type="password"
                               name="password" id="password"
                               placeholder="密码(8-12位, 数字/字母/符号必须三选二)!">
                    </div>
                </div>

                <div class="form-group required">
                    <label for="password_" class="col-sm-2 control-label">
                        Password confirm*
                    </label>
                    <div class="col-sm-10" data-name="password_">
                        <input class="form-control" type="password"
                               name="password_" id="password_"
                               placeholder="密码确认!">
                    </div>
                </div>

                <div class="form-group required">
                    <label for="user_name" class="col-sm-2 control-label">User name*</label>
                    <div class="col-sm-10" data-name="user_name">
                        <input class="form-control" name="user_name" id="user_name"
                               placeholder="用户姓名(中文)!">
                    </div>
                </div>

                <div class="form-group required">
                    <label for="email" class="col-sm-2 control-label">Company email*</label>
                    <div class="col-sm-10" data-name="email">
                        <input class="form-control" name="email" id="email"
                               placeholder="公司邮箱!公司邮箱!公司邮箱!">
                    </div>
                </div>

                <div class="form-group required">
                    <label for="group_name" class="col-sm-2 control-label">Group name*</label>
                    <div class="col-sm-10" data-name="group_name">
                        <input class="form-control" name="group_name" id="group_name"
                               placeholder="待创建用户所属组组名称.">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="group_tag" class="col-sm-2 control-label">Group tag*</label>
                    <div class="col-sm-10" data-name="group_tag">
                        <input class="form-control" name="group_tag" id="group_tag"
                               readonly value="admin" placeholder="待创建用户所属组标签.">
                    </div>
                </div>
                <div class="form-group required">
                    <div class="checkbox">
                        <label>
                            <input checked readonly name="permissions" type="checkbox"> All permissions
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div class="panel panel-info add-panel">-->
<!--<div class="panel-heading">-->
<!--<div class="text clearfix" style="text-align:center;">-->
<!--<h5 class="panel-title">Create User</h5>-->
<!--<button id="submit-user-btn" type="button" class="btn btn-info btn-sm">Submit</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<div class="col-lg-8">-->
<!--<form id="user-form" method="post" class="form-horizontal">-->
<!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>-->

<!--<div class="form-group required">-->
<!--<label for="w_id" class="col-sm-2 control-label">Workplace ID*</label>-->
<!--<div class="col-sm-10" data-name="w_id">-->
<!--<input class="form-control" name="w_id" id="w_id"-->
<!--placeholder="Workplace ID">-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group required">-->
<!--<label for="user_name" class="col-sm-2 control-label">User name*</label>-->
<!--<div class="col-sm-10" data-name="name">-->
<!--<input class="form-control" name="name" id="user_name"-->
<!--placeholder="User name">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group required">-->
<!--<label for="tag" class="col-sm-2 control-label">Group*</label>-->
<!--<div class="col-sm-10" data-name="tag">-->
<!--<select id="tag" data-size="10" name="tag"-->
<!--data-style="btn-default"-->
<!--title="Pls choose a group"-->
<!--class="selectpicker form-control"-->
<!--data-live-search="true">-->
<!--{% for group in groups %}-->
<!--<option value="{{ group.id }}">{{ group.name }}</option>-->
<!--{% endfor %}-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
{% else %}

{% endif %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script>
    $(document).ready(function () {

        $("#submit-btn").click(function () {
            axios.post('/vmf/initial/create', $("#form").serialize())
                    .then(function (rsp) {
                        alert(rsp.data.message);
                        if(rsp.data.status){
                            window.location.href = '/';
                        }
                    });
        });
    });

</script>
</body>
</html>