<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Index</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
</head>
<body>
<div id="foot" style="margin-top: 20px;margin-left: 20px">
    <a href="/" class="btn-danger btn">Home</a>
    <a id="a-create" class="btn-primary btn" href="">Create</a>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script>
    $(document).ready(function () {

        axios.get('/vmf/md5/{{ _get }}')
                .then(function (rsp) {

                    var urls = rsp.data.urls;
                    $("#a-create").attr('href', '/vmf/md5/' + urls[0]);

                });

    });

</script>
</body>
</html>