<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">

</head>
<body>
<div id="foot" style="margin-top: 20px;margin-left: 20px">
    <a class="a-index btn-info btn" href="">User</a>
    <a class="a-index btn-warning btn" href="">Group</a>
    <a class="a-index btn-success btn" href="">Properties</a>
    <a class="a-index btn-primary btn" href="">Log</a>
    <a class="a-index btn-danger btn" href="/signout">SignOut</a>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script>
    $(document).ready(function () {
        axios.get('/home_get')
                .then(function (rsp) {

                    var urls = rsp.data.urls;
                    console.log(urls);

                    var index = $(".a-index");
                    for (var i = 0; i < urls.length; i++) {
                        index[i].href = '/vmf/md5/' + urls[i];
                    }
                });

    });

</script>
</body>
</html>
